{% if messages %}
  <div id="message" class="container">
    {% for message in messages %}
        <div{% if message.tags %} class="alert alert-{{ message.tags }} mt-3"{% endif %} role="alert">
          <button type="button" style="float: right; font-size: 28px; top: 0px;" class="close float-left" data-dismiss="alert" onclick="this.parentNode.parentNode.remove()">
            <span aria-hidden="true">&times</span>
          </button>
          {{ message }}
        </div>
    {% endfor %}
  </div>
{% endif %}